@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: url("./assets/night.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 18rem;
  height: 25rem;
  color: white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

button i {
  font-size: 30px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: inherit;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.btn-container {
  padding: 0 2rem;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.btn {
  background: transparent;
  border: 2px solid rgb(196, 196, 196);
  border-radius: 100%;
  padding: 1rem !important;
  position: relative;
  margin-top: 4.5rem;
}

.btn:hover {
  background: rgb(241, 240, 240);
  color: black;
}

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 0.8rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
  height: 16%;
}

.checkbox-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper *,
.checkbox-wrapper ::after,
.checkbox-wrapper ::before {
  box-sizing: border-box;
  user-select: none;
  color: white;
  margin: 0 !important;
}

.checkbox-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.checkbox-wrapper .label {
  cursor: pointer;
}

.checkbox-wrapper .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper .label svg {
  vertical-align: middle;
  height: 2rem;
}

.checkbox-wrapper .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: .5s stroke-dashoffset;
  opacity: 0;
}

.checkbox-wrapper .check:checked+label svg g path {
  stroke-dashoffset: 0;
  opacity: 1;
}

.footer-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 35% !important;
  width: 100%;
}

.footer-container button:hover {
  cursor: pointer;
  border-radius: none;
  box-shadow: none;
  background: none;
}

.magicpattern {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23cdb380%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23d9c69f%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23036564%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23428b8a%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23033649%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23426876%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23031634%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23425066%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22none%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cpath d=%22M0 280c68.103-10.136 136.206-20.272 229-23 92.794-2.728 210.28 1.952 291 1s124.674-7.537 200 13 182.024 68.196 276 81c93.976 12.804 175.23-9.249 262-26 86.77-16.751 179.053-28.202 258-53s144.556-62.942 223-64c78.444-1.058 169.722 34.971 301 71l-40 1120H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 560c78.24-5.876 156.481-11.751 244-25s184.315-33.871 275-24c90.685 9.871 175.26 50.236 263 68 87.74 17.764 178.649 12.929 244-4 65.351-16.929 105.146-45.95 191-58 85.854-12.05 217.768-7.129 319 11 101.232 18.129 171.78 49.465 244 57 72.22 7.535 146.11-8.733 260-25l-40 840H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 840c90.356 26.72 180.712 53.442 275 48 94.288-5.442 192.507-43.046 260-64s104.26-25.256 187-3 211.452 71.071 305 56c93.548-15.071 151.93-94.03 219-98 67.07-3.97 142.826 67.046 228 67 85.174-.046 179.764-71.156 269-84 89.236-12.844 173.118 32.578 297 78l-40 560H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 1120c67.67-17.47 135.339-34.94 222-27 86.661 7.94 192.314 41.289 285 40 92.686-1.289 172.407-37.215 251-34 78.593 3.215 156.06 45.571 239 74 82.94 28.429 171.355 42.93 254 23 82.645-19.93 159.52-74.289 239-72 79.48 2.289 161.566 61.225 247 70 85.434 8.775 174.217-32.613 303-74l-40 280H0Z%22 fill=%22url(%23d)%22%2F%3E%3C%2Fsvg%3E");
}

.footer-container p {
  color: white;
  font-size: 0.8rem;
  line-height: 0;
  margin: 0 0rem 0.1rem 1rem;
  text-align: end;
  place-content: end;
  padding: 0 0 1rem 0;
}

.footer-container i {
  background: none;
  cursor: pointer;
  z-index: 10;
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
}

.social-icons {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.social-icons i:hover:nth-child(1) {
  color: #1DA1F2;
}

.social-icons i:hover:nth-child(2) {
  color: black;
}